<nav class="bottom-tabs" aria-label="Primary tabs">
    <NavLink href="" Match="NavLinkMatch.All" class="tab-item">
        <span class="tab-icon">⌂</span>
        <span class="tab-text">Dashboard</span>
    </NavLink>

    <NavLink href="accounts" class="tab-item">
        <span class="tab-icon">◎</span>
        <span class="tab-text">Accounts</span>
    </NavLink>

    <NavLink href="reports" class="tab-item">
        <span class="tab-icon">▦</span>
        <span class="tab-text">Reports</span>
    </NavLink>
</nav>
